.mb-10 {
  margin-bottom: 10px;
}

.bg-login-image {
  background: url('/img/bg-login.jpg');
  background-position: top;
  background-size: cover;
}

.bg-register-image {
  background: url('/img/bg-login.jpg');
  background-position: top;
  background-size: cover;
}

.bg-password-image {
  background: url('/img/bg-login.jpg');
  background-position: top;
  background-size: cover;
}